body{
    margin: 0px;
    padding: 0px;
}

.loginform
{
    background-color: rgb(158, 246, 246);
    width: 30%;
    height: auto;
    margin:  7% auto;
    padding: 25px 10px;
}

/*  responsive css */

@media screen and (max-width:600px)
{
    .loginform
    {
        width: 90%;
        margin: 35% auto;
    }
}